/* .card:before {
  content: "";
  position: absolute;
  bottom: 11px;
  left: 0;
  width: 162px;
  margin: auto;
  right: 0;
  height: 3px;
  background-color: #fff;
  z-index: 3;
  transform: rotate(90deg);
} */

/* .card:after {
  content: "";
  position: absolute;
  bottom: 80px;
  left: 0;
  margin: 0 auto;
  right: 0;
  width: 16px;
  height: 16px;
  text-align: center;
  border-radius: 50%;
  background-color: #fff;
  z-index: 3;
} */

/* .card:nth-child(2):before {
  content: "";
  position: absolute;
  top: 50%;
  left: -75px;
  width: 162px;
  height: 3px;
  background-color: #fff;
  z-index: 3;
}

.card:nth-child(2):after {
  content: "";
  position: absolute;
  top: 48.5%;
  left: 75px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  z-index: 3;
} */

.content:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  top: 0px;
  left: 0px;
  z-index: 2;
  background: rgb(24, 25, 50);
}
