/* a::after {
  content: "";

  width: 10px;
  height: 11px;
  margin-left: 10px;
  transform: translateX(0);
  background: url(/images/link-green-arrow.svg) no-repeat;
  background-size: cover;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  top: 0;
}
a:hover::after {
  left: 12px;
} */
