/* .h3::before {
  content: "";
  border: 4px solid #fff;
  border-width: 0 4px 4px 0;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: rotate(45deg);
  transition: transform 0.5s ease-in-out;
}
@media (max-width: 767px) {
  .h3::before {
    left: 0;
    top: 0;
  }
}

.h3.active::before {
  transform: rotate(-135deg);
  transition: transform 0.5s ease-in-out;
  border: 4px solid black;
  border-width: 0 4px 4px 0;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 20px;
} */

.h3::before {
  content: "";
  border: 4px solid #fff;
  border-width: 0 4px 4px 0;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

.h3.active::before {
  transform: rotate(-135deg);
}
