.ImgPattern:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-size: 100% 100%;
  width: 106%;
  height: 106%;
  background-image: url(/images/small-circle.svg);
}

.ImgPattern:after {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 148%;
  height: 148%;
  background-size: 100% 100%;
  background-image: url(/images/large-circle.svg);
}
