.h3::before {
  content: "";
  background: url("/images/plus (1).svg") no-repeat;
  width: 26px;
  height: 26px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 10px;
  left: 2px;
}

.h3.active::before {
  background: url("/images/minus.svg") no-repeat;
  width: 19px;
  height: 6px;
  top: 12px;
  left: 3px;
  transition: all 0.5s ease-in-out;
}

.h4::before {
  content: "";
  background: url("/images/plus (1).svg") no-repeat;
  width: 26px;
  height: 26px;
  transition: all 0.2s ease-in-out;
  position: absolute;
  top: 10px;
  left: 2px;
}
.h4.active::before {
  background: url("/images/minus.svg") no-repeat;
  width: 19px;
  height: 6px;
  top: 12px;
  left: 3px;
}
